<!DOCTYPE html>
<html>
    <head>
        <title>その他</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/css/style.css" />
        <script src="/js/vue.js"></script>
        <style>
            form {
                margin-left:5%;
            }
        </style>
    </head>

    <body>
        <header>
            <h1><a href="/"><img src="/img/home_blue.png" />&nbsp;その他</h1>
        </header>
        <article>
            <h2>/img フォルダ</h2>
            <p><a href="/viewimgfolder" target="_blank">/img フォルダを表示する。</a></p>
            <br />
            <h2>サムネール管理テーブル (BINDATA)</h2>
            <ul>
                <li><a href="/extra/bindatalist" target="_blank">内容一覧表示</a></li>
                <li><a href="/extra/bindataForm" target="_blank">サムネール画像の追加と修正</a></li>
                <li><a href="/extra/bindataQuery" target="_blank">サムネール画像の逆引き</a></li>
            </ul>
            <br />
            <h2>管理テーブルのバックアップ</h2>
            <ul>
                <li><a href="/extra/newBackup" target="_blank">バックアップテーブルを作る</a></li>
                <li><a href="/extra/removeBackup" target="_blank">古いバックアップテーブルを削除する</a></li>
            </ul>
            <br />
            <h2>レコード識別マーク一覧</h2>
            <ul>
                <li><a href="/extra/marksTable" target="_blank">識別マーク一覧 (marks テーブル)</a></li>
            </ul>
            <br />
            <!-- 管理テーブルのデータの削除 (deleteRecordForm) -->
            <h2>管理テーブルのデータの削除</h2>
            <form id="deleteRecordForm">
                <p class="comment" style="text-align:left;">(注意) 削除後のデータは復活できません。</p>
                <div class="form_row">
                    <div class="form_item">テーブルの選択</div>
                    <div class="form_item" style="color:black">
                        <label><input type="radio" v-model="deleteTable" name="deleteTable" value="Album" /> Album</label>&nbsp;
                        <label><input type="radio" v-model="deleteTable" name="deleteTable" value="Projects" /> Projects</label>&nbsp;
                        <label><input type="radio" v-model="deleteTable" name="deleteTable" value="Documents" /> Documents</label>&nbsp;
                        <label><input type="radio" v-model="deleteTable" name="deleteTable" value="Pictures" /> Pictures</label>&nbsp;
                        <label><input type="radio" v-model="deleteTable" name="deleteTable" value="Videos" /> Videos</label>&nbsp;
                        <label><input type="radio" v-model="deleteTable" name="deleteTable" value="Music" /> Music</label>&nbsp;
                        <label><input type="radio" v-model="deleteTable" name="deleteTable" value="BINDATA" /> BINDATA</label>&nbsp;
                        <label><input type="radio" v-model="deleteTable" name="deleteTable" value="Playlists" /> Playlists</label>&nbsp;
                    </div>
                </div>
                <div class="form_row">
                    <div class="form_item">削除する id</div>
                    <div class="form_item">
                        <input type="number" v-model="deleteId" size="10" />&nbsp;
                        <input type="button" value=" 削除する " v-on:click="deleteRecord_Click" style="color:red;" />
                    </div>
                </div>
                <br />
                <p class="message" v-text="deleteRecordMessage"></p>
            </form>
            <br />
            <!-- 管理テーブルのデータの一括削除　-->
            <h2>管理テーブルのデータの一括削除</h2>
            <form id="deleteBatchForm">
                <p class="comment" style="text-align:left;">(注意) 削除後のデータは復活できません。</p>
                <div class="form_row">
                    <div class="form_item">テーブルの選択</div>
                    <div class="form_item" style="color:black">
                        <label><input type="radio" v-model="dropTable" name="dropTable" value="Album" /> Album</label>&nbsp;
                        <label><input type="radio" v-model="dropTable" name="dropTable" value="Projects" /> Projects</label>&nbsp;
                        <label><input type="radio" v-model="dropTable" name="dropTable" value="Documents" /> Documents</label>&nbsp;
                        <label><input type="radio" v-model="dropTable" name="dropTable" value="Pictures" /> Pictures</label>&nbsp;
                        <label><input type="radio" v-model="dropTable" name="dropTable" value="Videos" /> Videos</label>&nbsp;
                        <label><input type="radio" v-model="dropTable" name="dropTable" value="Music" /> Music</label>&nbsp;
                        <label><input type="radio" v-model="dropTable" name="dropTable" value="BINDATA" /> BINDATA</label>&nbsp;
                        <label><input type="radio" v-model="dropTable" name="dropTable" value="Playlists" /> Playlists</label>&nbsp;
                    </div>
                </div>
                <div class="form_row">
                    <div class="form_item">削除する id の範囲</div>
                    <div class="form_item"><input type="text" v-model="idFrom" size="6" /> から <input type="text" v-model="idTo" size="6" /> まで</div>
                </div>
                <div class="form_row">
                    <div class="form_item" style="margin-top:14px;"></div>
                    <div class="form_item">
                        <input type="button" v-on:click="confirmButton_Click" value=" 確認する "  v-show="!modeDelete" />
                        <input type="button" v-on:click="deleteButton_Click" value=" 削除する " v-show="modeDelete" style="color:red;" />
                        <input type="button" v-on:click="cancelButton_Click" value=" キャンセル " />
                    </div>
                </div>
                <br />
                <div class="message" v-text="message"></div>
            </form>
            <br />
            <!-- 管理テーブルのレコードのパス (path) の一括変更　-->
            <h2>管理テーブルのレコードのパス (path) の一括変更</h2>
            <form id="replaceBatchForm">
                <p class="comment" style="text-align:left;">(注意) 変更後のデータは復活できません。</p>
                <div class="form_row">
                    <div class="form_item">テーブルの選択</div>
                    <div class="form_item" style="color:black">
                        <label><input type="radio" v-model="replaceTable" name="replaceTable" value="Projects" /> Projects</label>&nbsp;
                        <label><input type="radio" v-model="replaceTable" name="replaceTable" value="Documents" /> Documents</label>&nbsp;
                        <label><input type="radio" v-model="replaceTable" name="replaceTable" value="Pictures" /> Pictures</label>&nbsp;
                        <label><input type="radio" v-model="replaceTable" name="replaceTable" value="Videos" /> Videos</label>&nbsp;
                        <label><input type="radio" v-model="replaceTable" name="replaceTable" value="Music" /> Music</label>&nbsp;
                    </div>
                </div>
                <div class="form_row">
                    <div class="form_item">置換前の path の部分文字列</div>
                    <div class="form_item"><input type="text" v-model="before" size="50" /></div>
                </div>
                <div class="form_row">
                    <div class="form_item">置換後の path の部分文字列</div>
                    <div class="form_item"><input type="text" v-model="after" size="50" /></div>
                </div>
                <div class="form_row">
                    <div class="form_item" style="margin-top:14px;"></div>
                    <div class="form_item">
                        <input type="button" v-on:click="confirmButton" value=" 確認する " v-show="!replaceVisible" />
                        <input type="button" v-on:click="replaceButton" value=" 変更する " v-show="replaceVisible" />
                        <input type="button" v-on:click="cancelButton" value=" キャンセル " />
                    </div>
                </div>
                <br />
                <div class="message" v-text="message"></div>
            </form>
            <!-- データ一括登録とチェック (bulkDataForm) -->
            <h2>データ一括登録とチェック</h2>
            <form id="bulkDataForm">
                <div class="form_row">
                    <div class="form_item">テーブルの選択</div>
                    <div class="form_item" style="color:black">
                        <label><input type="radio" v-model="bulkTable" name="bulkTable" value="Pictures" /> Pictures</label>&nbsp;
                        <label><input type="radio" v-model="bulkTable" name="bulkTable" value="Videos" /> Videos</label>&nbsp;
                        <label><input type="radio" v-model="bulkTable" name="bulkTable" value="Music" /> Music</label>&nbsp;
                    </div>
                </div>
                <div class="form_row">
                    <div class="form_item">対象フォルダ</div>
                    <div class="form_item"><input type="text" v-model="folder" size="100" /></div>
                </div>
                <div class="form_row" style="margin-top:12px;">
                    <input type="button" v-on:click="checkButton_Click" value=" 一括チェック " />&nbsp;
                    <input type="button" v-on:click="insertButton_Click" value=" 一括登録 " style="color:red" />
                </div>
                <br />
                <p class="message" v-text="message"></p>
                <ul style="font-size:10pt;" v-html="result"></ul>
            </form>
            <br />
            <!-- パスの存在チェック (checkPathForm) -->
            <h2>パスの存在チェック</h2>
            <form id="checkPathForm" name="checkPathForm">
                <div class="form_row">
                    <div class="form_item">テーブルの選択</div>
                    <div class="form_item" style="color:black">
                        <label><input type="radio" v-model="checkTable" name="checkTable" value="Pictures" /> Pictures</label>&nbsp;
                        <label><input type="radio" v-model="checkTable" name="checkTable" value="Videos" /> Videos</label>&nbsp;
                        <label><input type="radio" v-model="checkTable" name="checkTable" value="Music" /> Music</label>&nbsp;
                    </div>
                </div>
                <div class="form_row">
                    <div class="form_item">
                        チェックする id の範囲 (省略時はすべて)
                    </div>
                    <div class="form_item">
                        <input type="text" name="fromId" v-model="fromId" size="6" /> から <input type="text" name="toId" v-model="toId" size="6" /> まで
                    </div>
                </div>
                <div class="form_row">
                    <div class="form_item">
                        <input type="button" v-on:click="checkTable_Click" value=" チェックする " />
                    </div>
                </div>
                <br />
                <p class="message" v-text="message"></p>
                <ul style="font-size:10pt;" v-html="result"></ul>
            </form>
            <br />
            <!-- ファイルリストからの一括データ登録 (insertFileList) -->
            <h2>ファイルリストからの一括データ登録</h2>
            <form id="insertFileList" name="formInsertFileList">
                <div class="form_row">
                    <div class="form_item">登録先のテーブル</div>
                    <div class="form_item">
                        <label><input type="radio" v-model="tableName" name="tableName" value="Pictures" size="10" /> Pictures </label>
                        <label><input type="radio" v-model="tableName" name="tableName" value="Videos" size="10" /> Videos </label>
                        <label><input type="radio" v-model="tableName" name="tableName" value="Music" size="10" /> Music</label>
                    </div>
                </div>
                <div class="form_row">
                    <div class="form_item">ファイルリスト</div>
                    <div class="form_item"><textarea name="fileList" v-model="fileList" cols="150" rows="12"></textarea></div>
                </div>
                <div class="form_row" style="margin-bottom:10px;">
                    <div class="form_item">マーク</div>
                    <div class="form_item"><input type="text" v-model="mark" name="mark" size="20" /></div>
                </div>
                <div class="form_row" style="margin-bottom:10px;">
                    <div class="form_item"></div>
                    <div class="form_item"><input type="button" v-on:click="submitFileList_Click" value=" 送信する " /></div>
                </div>
                <div class="form_row">
                    <p class="message" v-text="message"></p>
                </div>
            </form>
            <br />
            <!--  タイマー (timerForm) -->
            <h2>タイマー</h2>
            <form id="timerForm">
                <input type="number" v-model="hours"> 時間&nbsp;&nbsp;
                <input type="number" v-model="munites"> 分
                <input type="number" v-model="seconds"> 秒<br />
                <input type="button" v-on:click="startButton_click" value=" スタート " style="margin-top:15px;" />&nbsp;
                <input type="button" v-on:click="stopButton_click" value=" 中止 " />
                <p class="message" v-text="elapse"></p>
            </form>
        </article>
        <footer>
            <p>&nbsp;</p>
            <p class="footer_text"><a href="#top">TOP</a></p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </footer>
        <script>
            // タイマー
            var timer, audio;
            const appTimer = new Vue({
                el: "#timerForm",
                data: {
                    hours: 0,
                    munites: 0,
                    seconds: 0,
                    elapse: 0
                },
                methods: {
                    startButton_click: () => {
                        let timeout = 60 * 60 * appTimer.hours + 60 * appTimer.munites + appTimer.seconds;
                        timer = setInterval(()=>{
                            timeout--;
                            appTimer.elapse = "残り：" + timeout + "秒";
                            if (timeout == 0) {
                                clearInterval(timer);
                                audio = new Audio();
                                audio.src = "/audio/1";
                                audio.play();
                                appTimer.elapse = "タイムアップしました。";
                            }
                        }, 1000);
                    },
                    stopButton_click: () => {
                        clearInterval(timer);
                        appTimer.elapse = "カウントを中止しました。";
                        audio.pause();
                    }
                }
            });

            // データの削除
            const appDelete = new Vue({
                el: "#deleteRecordForm",
                data: {
                    deleteTable: null,
                    deleteId: 0,
                    deleteRecordMessage: ""
                },
                methods: {
                    deleteRecord_Click: async () => {
                        if (!appDelete.deleteTable) {
                            alert("対象テーブルが指定されていません。");
                            return;
                        }
                        if (!appDelete.deleteId) {
                            alert("対象 id またはパスが指定されていません。");
                            return;
                        }
                        if (confirm(appDelete.deleteTable + "の id " + appDelete.deleteId + " を削除します。")) {
                            let url = `/deleteId?tableName=${appDelete.deleteTable}&id=${appDelete.deleteId}`;
                            fetch(url)
                            .then(resp => resp.text())
                            .then(text=>appDelete.deleteRecordMessage = text)
                            .catch(err=>appDelete.deleteRecordMessage = err.message);

                            if (await deleteId(appDelete.deleteTable, appDelete.deleteId)) {
                                appDelete.deleteRecordMessage = "削除されました。";
                            }
                            else {
                                appDelete.deleteRecordMessage = "エラーを検出。";
                            }
                        }
                        else {
                            appDelete.deleteRecordMessage = "削除は取り消されました。";
                        }
                    }
                }
            });

            // データの一括登録とチェック
            const bulkDataForm = new Vue({
                el: "#bulkDataForm",
                data: {
                    folder: "",
                    bulkTable: "",
                    result: "",
                    message: ""
                },
                computed: {
                    folder1: () => { return bulkDataForm.folder.replace(/\\/g, "/");}
                },
                methods: {
                    checkButton_Click: () => {  // 一括チェック
                        fetch("/extra/bulkCheck?folder=" + bulkDataForm.folder1 + "&bulkTable=" + bulkDataForm.bulkTable)
                        .then(res=>res.json())
                        .then(arr => {
                            let html = "";
                            if (arr.length == 0) {
                                bulkDataForm.message = "";
                                html = "<li style='font-size:14pt;color:magenta;'>未登録項目はありません。</li>";
                                bulkDataForm.result = html;
                            }
                            else {
                                for (let a of arr) {
                                html += ("<li>" + a + "</li>")
                                }
                                if (html == "") {
                                    bulkDataForm.message = "";
                                    bulkDataForm.result = "";
                                }
                                else {
                                    bulkDataForm.message = "未登録画像フォルダ / 動画・音楽ファイル";
                                    bulkDataForm.result = html;
                                }
                            }
                        })
                        .catch(err=>{bulkDataForm.message = err.message;});
                    },
                    insertButton_Click: () => {  // 一括挿入
                        fetch("/extra/bulkInsert?folder=" + bulkDataForm.folder1 + "&bulkTable=" + bulkDataForm.bulkTable)
                        .then(res=>res.text())
                        .then(text=>{bulkDataForm.message = text;})
                        .catch(err=>{bulkDataForm.message = err.message;});
                    }
                }
            });

            // テーブルの path フィールドの存在チェック
            const checkPathForm = new Vue({
                el: "#checkPathForm",
                data: {
                    checkTable: "Pictures",
                    idFrom: "",
                    idTo: "",
                    message: "",
                    result:""
                },
                methods: {
                    checkTable_Click: () => {
                        if (checkPathForm.idFrom && checkPathForm.idTo) {
                            fetch(`/extra/checkPathTable?tablename=${checkPathForm.checkTable}&idFrom=${checkPathForm.idFrom}&idTo=${checkPathForm.idTo}`)
                            .then(response => response.json())
                            .then(json => checkPathForm.message = json)
                            .catch(err => checkPathForm.message = err.message);
                        }
                        else {
                            fetch(`/extra/checkPathTable?tablename=${checkPathForm.checkTable}`)
                            .then(response => response.json())
                            .then(arr => {
                                let html = "";
                                for (let a of arr) {
                                    html += "<li>";
                                    html += a;
                                    html += "</li>\n";
                                }
                                if (html == "") {
                                    checkPathForm.message = "存在しないパスは０件でした。";
                                    checkPathForm.result = html;
                                }
                                else {
                                    checkPathForm.message = "存在しないパス一覧";
                                    checkPathForm.result = html;
                                }
                            })
                            .catch(err => checkPathForm.message = err.message);
                        }
                    }
                }
            });

            // ファイルリストからの一括登録
            const insertFileList = new Vue({
                el: "#insertFileList",
                data: {
                    tableName: "Pictures",
                    fileList: "",
                    mark: "",
                    message: ""
                },
                methods : {
                    submitFileList_Click: () => {
                        insertFileList.message = "";
                        let data = {"tableName":insertFileList.tableName, "mark":insertFileList.mark, "fileList":insertFileList.fileList};
                        fetch("/extra/insertFileList", {method:"POST", headers:{'Content-Type': 'application/json'}, body:JSON.stringify(data)})
                        .then(res => res.json())
                        .then(data => {
                            insertFileList.message = "データ登録が完了しました。" + data;
                        })
                        .catch(err => insertFileList.message = err.message);
                    }
                }
            });

            // 管理テーブルのデータの一括削除
            const deleteBatchForm = new Vue({
                el: "#deleteBatchForm",
                data: {
                    dropTable: null,
                    idFrom: 0,
                    idTo: 0,
                    message: "",
                    modeDelete: false
                },
                methods: {
                    confirmButton_Click: async () => {
                        if (parseInt(deleteBatchForm.idTo) <= parseInt(deleteBatchForm.idFrom)) {
                            alert("id の範囲が不正です。");
                            return;
                        }
                        if (!deleteBatchForm.dropTable) {
                            alert("テーブルの指定がありません。");
                            return;
                        }
                        let resp = (await fetch(`/extra/deleteBatch?confirm=1&table=${deleteBatchForm.dropTable}&idFrom=${deleteBatchForm.idFrom}&idTo=${deleteBatchForm.idTo}`)).text();
                        await resp.then(text => deleteBatchForm.message = text);
                        deleteBatchForm.modeDelete = true;
                    },
                    deleteButton_Click: async () => {
                        if (parseInt(deleteBatchForm.idTo) < parseInt(deleteBatchForm.idFrom)) {
                            alert("id の範囲が不正です。");
                            return;
                        }
                        let url = `/extra/deleteBatch?table=${deleteBatchForm.dropTable}&idFrom=${deleteBatchForm.idFrom}&idTo=${deleteBatchForm.idTo}`;
                        let resp = (await fetch(url)).text();
                        resp.then(text => deleteBatchForm.message = text);
                        deleteBatchForm.modeDelete = false;
                    },
                    cancelButton_Click: () => {
                        deleteBatchForm.idFrom = "";
                        deleteBatchForm.idTo = "";
                        deleteBatchForm.message = "";
                    }
                },
            });

            // 管理テーブルのレコードのパス (path) の一括変更
            const replaceBatchForm = new Vue({
                el: "#replaceBatchForm",
                data: {
                    replaceTable: null,
                    before: "",
                    after: "",
                    message: "",
                    replaceVisible: false
                },
                methods: {
                    confirmButton: async () => {
                        let url = `/extra/replacePathBatch?confirm=1&table=${replaceBatchForm.replaceTable}&before=${replaceBatchForm.before}&after=${replaceBatchForm.after}`;
                        let resp = (await fetch(url)).text();
                        resp.then(text => {
                            replaceBatchForm.message = text;
                            replaceBatchForm.replaceVisible = true;
                        });
                        
                    },
                    replaceButton: async () => {
                        let url = `/extra/replacePathBatch?table=${replaceBatchForm.replaceTable}&before=${replaceBatchForm.before}&after=${replaceBatchForm.after}`;
                        let resp = (await fetch(url)).text();
                        resp.then(text => {
                            replaceBatchForm.message = text
                            replaceBatchForm.replaceVisible = false;
                        });
                    },
                    cancelButton: async () => {
                        replaceBatchForm.replaceTable = null;
                        replaceBatchForm.before = "";
                        replaceBatchForm.after = "";
                        replaceBatchForm.message = "";
                        replaceBatchForm.replaceBatchForm = false;
                    }
                }
            });
        </script>
    </body>
</html>
