<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <title>プレイリスト：<%= title %></title>
        <link rel="stylesheet" href="/css/style.css" />
        <script src="/js/jquery.min.js"></script>
        <style>
            audio {
                padding:10px;
                margin-left:20%;
            }

            ol {
                font-size: 11pt;
                color:blue;
            }
        </style>
        <script>
            function ready() {
                let mp = 1;
                let musicList = document.getElementById('musicList');
                let items = musicList.childNodes;
                let list = [];
                for (let a of items) {
                    if (a.innerText) {
                        list.push(a.innerText);
                    }
                }
                let player = document.getElementById('player');
                player.src = "/sendfile?path=" + list[0].replace(/&/g, '%26').replace(/#/g, '%23');
                let message = document.getElementById('message');
                message.innerText = "";
                player.addEventListener('ended', () => {
                    if (mp < list.length) {
                        player.src = "/sendfile?path=" + list[mp].replace(/&/g, '%26').replace(/#/g, '%23');
                        player.play();
                        mp++;
                        message.innerText = mp + " 曲目";
                    }
                    else {
                        message.innerHTML = "終わり <a href=\"javascript:ready()\">もう一度 (再生ボタンのクリックが必要)。</a>";
                    }
                });
            }
        </script>
    </head>

    <body onload="ready()">
        <header>
            <h1><a href="/"><img src="/img/home_blue.png" /></a>&nbsp;プレイリスト：<%= title %></h1>
            <p class="comment">うまく演奏できない場合は、すべてのパスが正しいか確認してください。また、ファイル形式にブラウザが対応しているかも確認してください。</p>
        </header>
        <article>
            <br />
            <audio id="player" controls>
            </audio>
            &nbsp;
            <% if (BINDATA > 0) { %>
                <img src="/extract/<%= BINDATA %>" />
            <% }  %>
            <p class="message" id="message"></p>
            <br />
            <h3 style="margin-left:5%;">曲目</h3>
            <ol id="musicList" style="margin-left:5%;">
                <% for (let item of items) { %>
                    <% if (item) { %>
                        <li><%= item %></li>
                    <% } %>
                <% } %>
            </ol>
        </article>
        <footer>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </footer>
    </body>
</html>