<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>圧縮ファイルの作成と解凍</title>
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <h1>圧縮ファイルの作成と解凍</h1>
        <p class="comment">ZIP, TAR ファイルを作成したりアップロードしたファイルを解凍します。</p>
        <br />
        <form method="POST" enctype="multipart/form-data" action="/computer/zipfile">
            <div class="form_row">
                <div class="form_item">操作種別</div>
                <div>
                    <label><input type="radio" name="ope" id="opeDeflate" value="deflate" /> 圧縮 </label>
                    <label><input type="radio" name="ope" id="opeInflate" value="inflate" /> 解凍 </label>
                </div>
            </div>
            <div class="form_row">
                <div class="form_item">圧縮するフォルダまたは解凍先のフォルダ</div>
                <div class="form_item"><input type="text" name="folder" id="folder" size="100" value="<%= folder %>" /></div>
            </div>
            <div class="form_row">
                <div class="form_item">圧縮ファイルのアップロード</div>
                <div class="form_item">
                    <input type="file" name="uploadFile" id="uploadFile" />
                </div>
            </div>
            <div class="form_row" style="margin-top: 16px;">
                <input type="submit" id="submitButton" name="submitButton" value=" 送信する " />&nbsp;
            </div>
            <br />
            <p class="message"><%- message %></p>
        </form>
    </body>
</html>